@font-face {
    font-family : '나눔스퀘어';
    src : url(../font/NanumSquareR.woff);
}
body {
    margin : 0;
    font-family: '나눔스퀘어';
}
html {
  line-height : 1.15; /*기본 행간 높이*/
}

form, input, div {
    box-sizing: border-box;
}

p, h4, h3, h2, h1, span {
    transform: rotate(0.03deg);

}




.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding : 1px;
    text-align: center;
    position: relative;
    margin-bottom: 200px;
}

.main-title {
    color: white;
    font-size: 40px;
    margin-top: 70px;
}

.main-content {
    color: white
}

.main-button {
    padding: 15px;
    font-size: 20px;
    background: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.main-explain {
    width: 500px;
    height: 200px;
    max-width: 80%;
    background-color: lightgray;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -160px;
    padding: 20px;
    
}

.main-form {
    background-color: white;
    width: 500px;
    height: 550px;
    position: relative;
    left: 0px;
    right: 0px;
    margin: auto;
    padding: 50px;
}

.gray-bg {
    background-color: gray;
    width: 100%;
    padding: 50px;
    
}

.title {
    font-size: 30px;
    margin-top: 0px;
}

.form-p {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.form-input {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
}

.form-name {
    width: 45%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.form-send {
    padding :5px;
    float: right;
    background-color: orange;
    color: white;
    font-size: 15px;
    width: 130px;
    border-radius: 7px;
}

td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

.flex-item {

}



.navbar-logo {
    font-size: 40px;
    padding: 20px;
}

.navbar-link {
    font-size: 27px;
    padding: 10px;
}




.nav-container {
    display: flex;
    height: 60px;
    align-items: center;
    background-color: coral;
    color: white;
}



.strength-box {
    width: 25%;
    padding: 15px;
}




.card i {
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    padding: 30px;
    box-sizing: border-box;
    color: mediumpurple;

}

.icon-container i {
    color: white;
    background-color: mediumpurple;
    width: 60px;
    height: 60px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 30px;
    
}

.shop-bg {
    background-color: #eee;
    padding: 20px;
}

.shop-container {
    display: flex;
    width: 90%;
    margin: auto;
}

.shop-item {
    width: 33%;
    padding: 10px;
}

.shop-item img {
    width: 100%;
    display: block;
}
.img-sub-box img {
    vertical-align: bottom;
}


.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    transition: all 1s;
    padding: 30px;
    bottom: -100%;
    
}



.blackbg {
    width: 100%;
    height: 50%;  
}

.overlay-wrap:hover .overlay {
    transform: translateY(-50%)
}

.overlay-wrap {
    width:100%;
    height:100%;
    position: absolute;
    overflow: hidden;
}

.first-bg {
    width: 100%;
    background-image: linear-gradient(cadetblue, mediumpurple);
    position: relative;
    padding:1px;
}

.ml-50 {
    margin-left: 50px;
    margin-right: 50px;
}

.white {
    color:white;
}

.show-button {
    background-color: darkslateblue;
    border-radius: 7px;
    padding: 10px;
    color: white;
    font-size: 15px;
    border : none;

}

.first-left {
    color: white;
    max-width: 500px;
    width: 100%;
    float: left;
}

.first-box {
    max-width: 2000px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0px;
}

.iphone {
    width: 300px;
    float: right;
    margin-top: 30px;
    vertical-align: bottom;
}

.whitebox {
    width: 100%;
    background-color: white;
    align-items: center;
    text-align: center;
    padding: 30px;
    
}

.whitebox-content {
    margin-bottom: 50px;
}

.card {
    padding: 20px;
    width: 
}

.second-box {
    color: white;
    text-align: center;
    margin-top: 30px;
}

.card-container {
    display:flex;
    flex-wrap : wrap;
    justify-content: center;
    width: 100%;
    
}

.second-bg {
    background: white;
    color: black;
}

.third-box {
    align-items: center;
    margin-top: 30px;
    
}

.img-box {
    width: 90%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-betw;
    margin: auto;
}






.img-sub-box {
    width: 50%;
    color: white;
    position: relative;
}

.portfolio-img {
    width: 100%;
}

.img-text {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom:0;
    background:rgba(0,0,0,0.2);
    margin: 
}

.footer {
    width:100%;
    background-color: white;
    text-align: center;
}

.icon-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.icon-box {
    margin: 10px;
}

.white-box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    border: 0px solid white;
    transition: all 0.5s;
}

.white-box:hover {
    border: 30px solid white;
}



.profile-first {
    display: flex;
    height: 200px;
    padding: 20px;
}

.profile-box {
    display: flex;
}

.bg-skyblue {
    background-color: #6fbaf8;
    width: 100px;
    color: white;
}

.margincustom {
    margin-top: 0px;
    margin-bottom: 3px;
}

.profile-img {
    margin-right: 20px;
    margin-left: 0px;
}

.center {
    padding: 10px;
}

.profile-info {
    display: flex;
    height: 200px;
}

.profile-row {
    
}

.card-category {
    font-size: 30px;
    font-weight: bold;
}

.card-works {
    width: 20%;
}

.badge-custom {
    color:black;
    font-size: 15px;
    border: 1px solid gray;
    margin-right: 5px;
}

.basic {
    margin-top: 30px;
    width: 90%;
    
}

.box-design {
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
}

.bg-gray {
    background-color: #f7f9fc;
}

.updown {
        border: 5px solid black;

        height: 50px;
}



.text-box {
    padding: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    
}

.card-skills {
    width: 55%;
}

.card-linked {
    width: 20%;
}

@media screen and (max-width: 768px) {
    .card-works{
        width: 100%;
        height: none;
    }
    
    .card-skills {
        width: 100%;
        height: none;
    }    
    
    .card-linked{
        width: 100%;
        height: none;
    }
    
    .strength-box {
        width: 100%;
    }
    
    .first-box {
        text-align: center;
    }
    
    .iphone {
        float: none;
    }
}


.ani-text {
   text-align : center;
}

.ani-text:hover {
    animation-name: 왔다갔다;
    animation-duration: 1s;
}

@keyframes 왔다갔다 {
    0% {
        transform: translateX(0px);
    }
    
    33%{
        transform: translateX(-100px);
    }
    
    66% {
        transform: translateX(100px);
    }
    
    100% {
        transform: translateX(0px);
    }
}
.tilt {
    margin: auto;
    background-color: darkslateblue;
    color: white;
    padding : 10px;
    border : none;
}

.tilt:hover {
    background-color: darkslateblue;
    color: white;
    animation-name: 흔들흔들;
    animation-duration: 0.5s;
}

@keyframes 흔들흔들 {
    0% {
        transform : rotate(0deg);
    }
    
    33% {
        transform : rotate(10deg);
    }
    
    66% {
        transform : rotate(-10deg);
    }
    
    100% {
        transform : rotate(0deg);
    }
    
}

.plus {
    font-weight: bold;
}

.plus:hover {
    animation-name: plustilt;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes plustilt {
    0% {
        transform: rotate(0deg)
    }
    
    50% {
        transform: rotate(-20deg)
    }
    
    100% {
        transform: rotate(45deg) scale(1.5);
    }
    
    
}

.left-menu {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: black;
    z-index: 100;
    color: white;
    padding : 20px;
    text-align: center;
    transform: translateX(-200px);
    transition: all 0.7s;
}

.left-menu:hover {
    transform: translateX(0px);
    
}

.left-menu:hover .item-font {
    animation-name: 왔다리갔다리;
    animation-duration: 1s;
}

@keyframes 왔다리갔다리 {
    0% {
        transform: translateX(-100px);
    }
    
    50% {
        transform: translateX(50px) skewX(-30deg);
    }
    
    100% {
        transform: translateX(0px);
    }
}

.left-menu:hover .menu-font{
    text-align: center;
}

.menu-font {
    font-weight: bold;
    text-align: right;
}



.item-font {
    text-align: center;
}
